.task {
    display: flex;
    align-items: center;
    background-color: rgba(78, 78, 101, 0.28);
    padding: 15px 25px;
    border: 1px solid transparent;
    border-radius: 20px;
    font-family: Handlee, sans-serif;
    font-size: 30px;
    cursor: pointer;
    transition: all .3s ease;
    width: 100%;
}

.task:hover {
    border-color: rgba(227, 185, 199, 0.25);
}

.task:not(:last-child) {
    margin-bottom: 20px;
}

.checkIcon{
    border-radius: 35%;
    border: 1px solid #fa75a0;
    color: #3e3e50;
    margin-right: 20px;
    transition: all .3s ease;
    width: 30px;
    height: 30px;
}

.checkIcon:hover {
    border-color: #934961;
}


.checked > .checkIcon {
    background-color: #fa75a0;
}

.taskText {
    text-align: start;
    margin: 0 auto 0 0;
    position: relative;
}

.taskText:before {
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 1px;
    top: 50%;
    background-color: #ffc1d4;
    transition: width .3s ease;
}

.checked > .taskText:before {
    width: 100%;
}

.trash {
    width: 30px;
    height: 30px;
    color: #5e585b;
    transition: all .3s ease;
}

.trash:hover {
    color: #bd4f4f;
}